/* Tu CSS va aqui */

.logo{
	font-size: 200%;

}
.fpaisaje{
	background-image: url(../img/header.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	height:600px ;
	background-position: center center;
}

.naranja{
	background-color: #FC5A37;
}
.lraGde{
	font-size: 250%;
	padding-top: 20%;
}

a{
	text-decoration: none;
	color: #fff;
}
.botn{
	margin-bottom: 10%;
}
.boton{
	padding: 1%;
	border-top: 5px;
}                       
.medium{
	width: 6%;
	border: 2px solid ;
	border-radius: 5px;
}

.photo{
	/*margin-right: -50%;*/
	margin-left: -5%;
	width: 110%;
	height: 30%;
}

.fnegro{
	background-color: black;
}
.fblanco{
	background-color: white;
	padding: 1% ;
	border-radius: 15px;
}

.colorNja{
	color: #FC5A37;
}
.colorBlco{
	color:white ;
}
.backGris{
	background-color: lightgray;
}

.sabermas{
	padding-top: 5%;
	padding-bottom: 20%;
}